Repository typelevel/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label log4cats PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.12, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@11)
  actions:
    merge: {}
- name: Label bench PRs
  conditions:
  - files~=^modules/bench/
  actions:
    label:
      add:
      - bench
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^modules/docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label example PRs
  conditions:
  - files~=^modules/example/
  actions:
    label:
      add:
      - example
      remove: []
- name: Label free PRs
  conditions:
  - files~=^modules/free/
  actions:
    label:
      add:
      - free
      remove: []
- name: Label h2 PRs
  conditions:
  - files~=^modules/h2/
  actions:
    label:
      add:
      - h2
      remove: []
- name: Label h2-circe PRs
  conditions:
  - files~=^modules/h2-circe/
  actions:
    label:
      add:
      - h2-circe
      remove: []
- name: Label hikari PRs
  conditions:
  - files~=^modules/hikari/
  actions:
    label:
      add:
      - hikari
      remove: []
- name: Label log4cats PRs
  conditions:
  - files~=^modules/log4cats/
  actions:
    label:
      add:
      - log4cats
      remove: []
- name: Label munit PRs
  conditions:
  - files~=^modules/munit/
  actions:
    label:
      add:
      - munit
      remove: []
- name: Label postgres PRs
  conditions:
  - files~=^modules/postgres/
  actions:
    label:
      add:
      - postgres
      remove: []
- name: Label postgres-circe PRs
  conditions:
  - files~=^modules/postgres-circe/
  actions:
    label:
      add:
      - postgres-circe
      remove: []
- name: Label refined PRs
  conditions:
  - files~=^modules/refined/
  actions:
    label:
      add:
      - refined
      remove: []
- name: Label scalatest PRs
  conditions:
  - files~=^modules/scalatest/
  actions:
    label:
      add:
      - scalatest
      remove: []
- name: Label specs2 PRs
  conditions:
  - files~=^modules/specs2/
  actions:
    label:
      add:
      - specs2
      remove: []
- name: Label weaver PRs
  conditions:
  - files~=^modules/weaver/
  actions:
    label:
      add:
      - weaver
      remove: []

Update mockito-core to 5.13.0
  build.sbt
Due: none

Update h2 to 2.3.232
  build.sbt
Due: none

Query cancellation for streaming queries
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/hikari/src/test/scala/doobie/HikariQueryCancellationSuite.scala
Due: Label core PRs, Label hikari PRs

Update microsite link
  README.md
  modules/docs/src/main/mdoc/docs/12-Custom-Mappings.md
  modules/hikari/src/main/scala/doobie/hikari/HikariTransactor.scala
Due: Label docs PRs, Label hikari PRs

Deprecate non-logging/non-cancelling high-level methods
  modules/bench/src/main/scala/doobie/bench/text.scala
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/test/scala/doobie/issue/262.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  modules/postgres/src/main/scala/doobie/postgres/syntax/syntax.scala
Due: Label bench PRs, Label core PRs, Label postgres PRs

Improve analysis message + Small optimizations
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/main/scala/doobie/util/get.scala
Due: Label core PRs

Update circe-core, circe-generic, ... to 0.14.10
  build.sbt
Due: none

Update scala-library, scala-reflect to 2.12.20
  build.sbt
Due: none

Update sbt-typelevel-ci-release, ... to 0.7.3
  project/plugins.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

Update sbt-scoverage to 2.2.0
  project/plugins.sbt
Due: none

Update munit to 1.0.2
  build.sbt
Due: none

Update sbt, sbt-dependency-tree to 1.10.2
  project/build.properties
Due: none

Update mdoc, sbt-mdoc to 2.6.0
  project/plugins.sbt
Due: none

Add {Write.Read}.generic back to help migrate from earlier versions
  modules/core/src/main/scala-2/doobie/util/MkGetPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkPutPlatform.scala
  modules/core/src/main/scala-2/doobie/util/PutPlatform.scala
  modules/core/src/main/scala-2/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/WritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/GetPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkGetPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkPutPlatform.scala
  modules/core/src/main/scala-3/doobie/util/PutPlatform.scala
  modules/core/src/main/scala/doobie/util/get.scala
  modules/core/src/main/scala/doobie/util/put.scala
  modules/core/src/test/scala-2/doobie/util/GetSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/PutSuitePlatform.scala
  modules/testutils/src/test/scala/doobie/testutils/TestClasses.scala
Due: Label core PRs

Update mdoc, sbt-mdoc to 2.6.1
  project/plugins.sbt
Due: none

Fix outdated comments
  modules/core/src/main/scala/doobie/util/fragments.scala
Due: Label core PRs

Update HikariCP to 6.0.0
  build.sbt
Due: none

Update sbt-scoverage to 2.2.1
  project/plugins.sbt
Due: none

Update mockito-core to 5.14.0
  build.sbt
Due: none

Update scala3-library to 3.3.4
  build.sbt
Due: none

Update mockito-core to 5.14.1
  build.sbt
Due: none

Update scala-library, scala-reflect to 2.13.15
  .github/workflows/ci.yml
  build.sbt
Due: none

fmt & remove scalamock
  build.sbt
  modules/core/src/main/scala-2/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-2/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/WritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/WritePlatform.scala
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala/doobie/util/FixmeSuite.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
Due: Label core PRs

read compiles
  modules/core/src/main/scala-2/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-2/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/WritePlatform.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
Due: Label core PRs

fix read
  modules/core/src/main/scala-2/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/ReadPlatform.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
Due: Label core PRs

Update sbt-typelevel-ci-release, ... to 0.7.4
  project/plugins.sbt
Due: none

Update mysql-connector-j to 9.1.0
  build.sbt
Due: none

Update mockito-core to 5.14.2
  build.sbt
Due: none

Update specs2-core to 4.20.9
  build.sbt
Due: none

fix typo
  modules/docs/src/main/mdoc/docs/13-Unit-Testing.md
Due: Label docs PRs

Update tasty-core to 3.6.1
  build.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.10.3
  project/build.properties
Due: none

Update sbt-scoverage to 2.2.2
  project/plugins.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.10.4
  project/build.properties
Due: none

Update cats-effect, cats-effect-testkit to 3.5.5
  build.sbt
Due: none
