Repository typelevel/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label log4cats PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

Label bench PRs:
  label:
    add:
    - bench
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label example PRs:
  label:
    add:
    - example
    remove: []

Label free PRs:
  label:
    add:
    - free
    remove: []

Label h2 PRs:
  label:
    add:
    - h2
    remove: []

Label h2-circe PRs:
  label:
    add:
    - h2-circe
    remove: []

Label hikari PRs:
  label:
    add:
    - hikari
    remove: []

Label log4cats PRs:
  label:
    add:
    - log4cats
    remove: []

Label munit PRs:
  label:
    add:
    - munit
    remove: []

Label postgres PRs:
  label:
    add:
    - postgres
    remove: []

Label postgres-circe PRs:
  label:
    add:
    - postgres-circe
    remove: []

Label refined PRs:
  label:
    add:
    - refined
    remove: []

Label scalatest PRs:
  label:
    add:
    - scalatest
    remove: []

Label specs2 PRs:
  label:
    add:
    - specs2
    remove: []

Label weaver PRs:
  label:
    add:
    - weaver
    remove: []

Update weaver-cats to 0.9.2
  build.sbt
Due: none

Update mdoc, sbt-mdoc to 2.7.2
  project/plugins.sbt
Due: none

Update cats-effect, cats-effect-testkit to 3.6.2
  build.sbt
Due: none

Changes to update h2 version to 2.x.x and text fixtures.
  build.sbt
  modules/core/src/test/scala/doobie/issue/706.scala
  modules/h2-circe/src/main/scala/doobie/h2/circe/Instances.scala
  modules/h2-circe/src/test/scala/doobie/h2/circe/H2JsonSuite.scala
  modules/refined/src/test/scala/doobie/refined/RefinedSuite.scala
  modules/specs2/src/test/scala/doobie/specs2/beforeall.scala
Due: Label core PRs, Label h2-circe PRs, Label refined PRs, Label specs2 PRs

Reverting formating to original form.
  modules/h2-circe/src/test/scala/doobie/h2/circe/H2JsonSuite.scala
Due: Label h2-circe PRs

Update HikariCP to 6.3.1
  build.sbt
Due: none

Update HikariCP to 6.3.2
  build.sbt
Due: none

Update cats-effect, cats-effect-testkit to 3.6.3
  build.sbt
Due: none

Update weaver-cats to 0.9.3
  build.sbt
Due: none

h2 upgrade test
  build.sbt
Due: none

Update HikariCP to 7.0.0
  build.sbt
Due: none

Update mysql-connector-j to 9.4.0
  build.sbt
Due: none

Update scalafmt-core to 3.9.9
  .scalafmt.conf
Due: none

updated h2 version to 2.3.232
  build.sbt
Due: none

Update HikariCP to 7.0.1
  build.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.11.4
  project/build.properties
Due: none

Update HikariCP to 7.0.2
  build.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.11.5
  project/build.properties
Due: none

add instancies for Array[Json] on Postgres
  modules/postgres-circe/src/main/scala/doobie/postgres/circe/Instances.scala
  modules/postgres-circe/src/test/scala/doobie/postgres/circe/PGJsonSuite.scala
Due: Label postgres-circe PRs

add testing inOut for array json
  modules/postgres-circe/src/main/scala/doobie/postgres/circe/Instances.scala
  modules/postgres-circe/src/test/scala/doobie/postgres/circe/PGJsonSuite.scala
Due: Label postgres-circe PRs

Update weaver-cats to 0.10.0
  build.sbt
Due: none

Update weaver-cats to 0.10.1
  build.sbt
Due: none

Fix links in some scaladocs
  modules/core/src/main/scala/doobie/syntax/string.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/postgres/src/main/scala/doobie/postgres/syntax/syntax.scala
Due: Label core PRs, Label postgres PRs

Update fs2-core, fs2-io to 3.12.2
  build.sbt
Due: none

Update sbt-ghpages to 0.9.0
  project/plugins.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.11.6
  project/build.properties
Due: none

fix support of Option[Array[Json]]
  modules/postgres-circe/src/main/scala/doobie/postgres/circe/Instances.scala
Due: Label postgres-circe PRs

pr review fixes
  modules/postgres-circe/src/main/scala/doobie/postgres/circe/Instances.scala
Due: Label postgres-circe PRs

Update munit to 1.1.2
  build.sbt
Due: none

Add Xing link to Adopters section
  modules/docs/src/main/mdoc/index.md
Due: Label docs PRs

Update sbt-header to 5.11.0
  project/plugins.sbt
Due: none

Update scalafmt-core to 3.9.10
  .scalafmt.conf
Due: none

Update postgresql to 42.7.8
  build.sbt
  project/build.sbt
Due: none

Update munit to 1.2.0
  build.sbt
Due: none

Update h2 to 2.4.240
  build.sbt
Due: none

Update specs2-core to 4.22.0
  build.sbt
Due: none

Update sbt-jmh to 0.4.8
  project/plugins.sbt
Due: none

Update circe-core, circe-generic, ... to 0.14.15
  build.sbt
Due: none

Update kind-projector to 0.13.4
  build.sbt
Due: none

Update sbt-typelevel-ci-release, ... to 0.8.1
  project/plugins.sbt
Due: none

Path conditions:
  Label bench PRs: any of: ^modules/bench/
  Label core PRs: any of: ^modules/core/
  Label docs PRs: any of: ^modules/docs/
  Label example PRs: any of: ^modules/example/
  Label free PRs: any of: ^modules/free/
  Label h2 PRs: any of: ^modules/h2/
  Label h2-circe PRs: any of: ^modules/h2-circe/
  Label hikari PRs: any of: ^modules/hikari/
  Label log4cats PRs: any of: ^modules/log4cats/
  Label munit PRs: any of: ^modules/munit/
  Label postgres PRs: any of: ^modules/postgres/
  Label postgres-circe PRs: any of: ^modules/postgres-circe/
  Label refined PRs: any of: ^modules/refined/
  Label scalatest PRs: any of: ^modules/scalatest/
  Label specs2 PRs: any of: ^modules/specs2/
  Label weaver PRs: any of: ^modules/weaver/
