Repository typelevel/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label log4cats PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.12, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@11)
  actions:
    merge: {}
- name: Label bench PRs
  conditions:
  - files~=^modules/bench/
  actions:
    label:
      add:
      - bench
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^modules/docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label example PRs
  conditions:
  - files~=^modules/example/
  actions:
    label:
      add:
      - example
      remove: []
- name: Label free PRs
  conditions:
  - files~=^modules/free/
  actions:
    label:
      add:
      - free
      remove: []
- name: Label h2 PRs
  conditions:
  - files~=^modules/h2/
  actions:
    label:
      add:
      - h2
      remove: []
- name: Label h2-circe PRs
  conditions:
  - files~=^modules/h2-circe/
  actions:
    label:
      add:
      - h2-circe
      remove: []
- name: Label hikari PRs
  conditions:
  - files~=^modules/hikari/
  actions:
    label:
      add:
      - hikari
      remove: []
- name: Label log4cats PRs
  conditions:
  - files~=^modules/log4cats/
  actions:
    label:
      add:
      - log4cats
      remove: []
- name: Label munit PRs
  conditions:
  - files~=^modules/munit/
  actions:
    label:
      add:
      - munit
      remove: []
- name: Label postgres PRs
  conditions:
  - files~=^modules/postgres/
  actions:
    label:
      add:
      - postgres
      remove: []
- name: Label postgres-circe PRs
  conditions:
  - files~=^modules/postgres-circe/
  actions:
    label:
      add:
      - postgres-circe
      remove: []
- name: Label refined PRs
  conditions:
  - files~=^modules/refined/
  actions:
    label:
      add:
      - refined
      remove: []
- name: Label scalatest PRs
  conditions:
  - files~=^modules/scalatest/
  actions:
    label:
      add:
      - scalatest
      remove: []
- name: Label specs2 PRs
  conditions:
  - files~=^modules/specs2/
  actions:
    label:
      add:
      - specs2
      remove: []
- name: Label weaver PRs
  conditions:
  - files~=^modules/weaver/
  actions:
    label:
      add:
      - weaver
      remove: []

Also add transactRaw to other ConnectionIO Ops
  modules/core/src/main/scala/doobie/syntax/connectionio.scala
Due: Label core PRs

Fix ConnectionIOSuite compilation warnings by splitting test cases
  modules/core/src/test/scala/doobie/util/ConnectionIOSuite.scala
Due: Label core PRs

Update mdoc, sbt-mdoc to 2.7.0
  project/plugins.sbt
Due: none

Document & test left join behaviour when all fields are Option
  modules/core/src/main/scala-2/doobie/util/ReadPlatform.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/docs/src/main/mdoc/docs/17-FAQ.md
Due: Label core PRs, Label docs PRs

add-scala3-enum-put-get-derivation
  modules/core/src/main/scala-3/doobie/util/GetPlatform.scala
  modules/core/src/main/scala-3/doobie/util/PutPlatform.scala
  modules/core/src/main/scala-3/doobie/util/package.scala
Due: Label core PRs

Update mdoc, sbt-mdoc to 2.7.1
  project/plugins.sbt
Due: none

Update circe-core, circe-generic, ... to 0.14.13
  build.sbt
Due: none

add-scala3-enum-put-get-derivation
  modules/core/src/main/scala-3/doobie/util/GetPlatform.scala
  modules/core/src/main/scala-3/doobie/util/PutPlatform.scala
  modules/core/src/main/scala-3/doobie/util/package.scala
  modules/core/src/test/scala-2/doobie/util/GetSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/PutSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/GetSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/PutSuitePlatform.scala
  modules/core/src/test/scala/doobie/util/GetSuite.scala
  modules/core/src/test/scala/doobie/util/PutSuite.scala
Due: Label core PRs

Update mysql-connector-j to 9.3.0
  build.sbt
Due: none

Update munit to 1.1.1
  build.sbt
Due: none

Update scalafmt-core to 3.9.5
  .scalafmt.conf
Due: none

update sbt-ci-release url
  CONTRIBUTING.md
Due: none

update github url
  CHANGELOG.md
  README.md
  modules/core/src/main/scala/doobie/hi/preparedstatement.scala
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/test/scala/doobie/util/FragmentSuite.scala
  modules/docs/src/main/mdoc/docs/01-Introduction.md
  modules/docs/src/main/mdoc/docs/14-Managing-Connections.md
  modules/docs/src/main/mdoc/index.md
  modules/postgres/src/main/scala/doobie/postgres/Instances.scala
Due: Label core PRs, Label docs PRs, Label postgres PRs

add -Xsource:3-cross option if Scala 2.13
  build.sbt
Due: none

update scalafmt setting. use new syntax
  .scalafmt.conf
  build.sbt
  modules/core/src/main/scala-2.13+/doobie/util/compat/package.scala
  modules/core/src/main/scala-2.13-/doobie/util/compat/package.scala
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/main/scala/doobie/hi/resultset.scala
  modules/core/src/main/scala/doobie/syntax/applicativeerror.scala
  modules/core/src/main/scala/doobie/syntax/connectionio.scala
  modules/core/src/main/scala/doobie/syntax/foldable.scala
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/core/src/test/scala-2/doobie/util/QueryLogSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/ReadSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/WriteSuitePlatform.scala
  modules/example/src/main/scala-2/example/Orm.scala
  modules/example/src/test/scala-2/example/AnalysisTestScalaTest.scala
  modules/free/src/main/scala-2/doobie/util/PosPlatform.scala
  modules/h2/src/main/scala/doobie/h2/Metas.scala
  modules/postgres/src/main/scala/doobie/postgres/Instances.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/lostreaming.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/pgconnection.scala
  modules/postgres/src/main/scala/doobie/postgres/syntax/FragmentSyntax.scala
  modules/postgres/src/test/scala/doobie/postgres/NotifySuite.scala
  modules/specs2/src/main/scala/doobie/specs2/analysisspec.scala
  project/FreeGen2.scala
Due: Label core PRs, Label example PRs, Label free PRs, Label h2 PRs, Label postgres PRs, Label specs2 PRs

Update scalafmt-core to 3.9.6
  .scalafmt.conf
Due: none

Update scala3-compiler, scala3-library, ... to 3.3.6
  build.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.11.0
  project/build.properties
Due: none

Update log4cats-core to 2.7.1
  build.sbt
Due: none

Update weaver-cats to 0.9.0
  build.sbt
Due: none

Update postgresql to 42.7.6
  build.sbt
  project/build.sbt
Due: none

Update scalafmt-core to 3.9.7
  .scalafmt.conf
Due: none

Add 'Reformat with scalafmt 3.9.7' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Reformat with scalafmt 3.9.7
  modules/core/src/main/scala/doobie/enumerated/transactionisolation.scala
  modules/core/src/main/scala/doobie/hi/preparedstatement.scala
  modules/core/src/main/scala/doobie/util/package.scala
  modules/core/src/main/scala/doobie/util/pretty.scala
  modules/core/src/test/scala/doobie/util/UpdateLogSuite.scala
  modules/h2/src/main/scala/doobie/h2/Metas.scala
  project/FreeGen2.scala
Due: Label core PRs, Label h2 PRs

Update sbt, sbt-dependency-tree, ... to 1.11.1
  project/build.properties
Due: none

Update sbt-typelevel-ci-release, ... to 0.8.0
  project/plugins.sbt
Due: none

Update postgis-jdbc to 2025.1.0
  build.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.11.2
  project/build.properties
Due: none

Update postgresql to 42.7.7
  build.sbt
  project/build.sbt
Due: none

run freeGen2
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
Due: Label postgres PRs

Update circe-core, circe-generic, ... to 0.14.14
  build.sbt
Due: none

Update postgis-jdbc to 2025.1.1
  build.sbt
Due: none

Update weaver-cats to 0.9.1
  build.sbt
Due: none

Simplify Config (public constructor, etc)
  modules/hikari/src/main/scala/doobie/hikari/Config.scala
Due: Label hikari PRs

Update Config.scala
  modules/hikari/src/main/scala/doobie/hikari/Config.scala
Due: Label hikari PRs

Update scalafmt-core to 3.9.8
  .scalafmt.conf
Due: none

Update sbt-scalafmt to 2.5.5
  project/plugins.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.11.3
  project/build.properties
Due: none
