Repository typelevel/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label log4cats PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.12, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@11)
  actions:
    merge: {}
- name: Label bench PRs
  conditions:
  - files~=^modules/bench/
  actions:
    label:
      add:
      - bench
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^modules/docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label example PRs
  conditions:
  - files~=^modules/example/
  actions:
    label:
      add:
      - example
      remove: []
- name: Label free PRs
  conditions:
  - files~=^modules/free/
  actions:
    label:
      add:
      - free
      remove: []
- name: Label h2 PRs
  conditions:
  - files~=^modules/h2/
  actions:
    label:
      add:
      - h2
      remove: []
- name: Label h2-circe PRs
  conditions:
  - files~=^modules/h2-circe/
  actions:
    label:
      add:
      - h2-circe
      remove: []
- name: Label hikari PRs
  conditions:
  - files~=^modules/hikari/
  actions:
    label:
      add:
      - hikari
      remove: []
- name: Label log4cats PRs
  conditions:
  - files~=^modules/log4cats/
  actions:
    label:
      add:
      - log4cats
      remove: []
- name: Label munit PRs
  conditions:
  - files~=^modules/munit/
  actions:
    label:
      add:
      - munit
      remove: []
- name: Label postgres PRs
  conditions:
  - files~=^modules/postgres/
  actions:
    label:
      add:
      - postgres
      remove: []
- name: Label postgres-circe PRs
  conditions:
  - files~=^modules/postgres-circe/
  actions:
    label:
      add:
      - postgres-circe
      remove: []
- name: Label refined PRs
  conditions:
  - files~=^modules/refined/
  actions:
    label:
      add:
      - refined
      remove: []
- name: Label scalatest PRs
  conditions:
  - files~=^modules/scalatest/
  actions:
    label:
      add:
      - scalatest
      remove: []
- name: Label specs2 PRs
  conditions:
  - files~=^modules/specs2/
  actions:
    label:
      add:
      - specs2
      remove: []
- name: Label weaver PRs
  conditions:
  - files~=^modules/weaver/
  actions:
    label:
      add:
      - weaver
      remove: []

Update scala3-compiler, scala3-library, ... to 3.3.5
  build.sbt
Due: none

Update scala-collection-compat to 2.13.0
  build.sbt
Due: none

Update mdoc, sbt-mdoc to 2.6.3
  project/plugins.sbt
Due: none

1.0-RC7
  docs/01-Introduction.html
  docs/03-Connecting.html
  docs/04-Selecting.html
  docs/05-Parameterized.html
  docs/06-Checking.html
  docs/07-Updating.html
  docs/08-Fragments.html
  docs/09-Error-Handling.html
  docs/10-Logging.html
  docs/11-Arrays.html
  docs/12-Custom-Mappings.html
  docs/13-Unit-Testing.html
  docs/14-Managing-Connections.html
  docs/15-Extensions-PostgreSQL.html
  docs/16-Extensions-H2.html
  docs/17-FAQ.html
  docs/18-Related-Projects.html
  docs/index.html
  index.html
  infographic.html
  migration.html
  paradox.json
Due: none

updated site
  docs/03-Connecting.html
  docs/05-Parameterized.html
  docs/09-Error-Handling.html
  docs/12-Custom-Mappings.html
  docs/15-Extensions-PostgreSQL.html
  docs/17-FAQ.html
Due: none

Update documentation for updateWithLabel
  modules/core/src/main/scala/doobie/util/fragment.scala
Due: Label core PRs

Document documentation publishing workflow
  CONTRIBUTING.md
  build.sbt
  modules/docs/src/main/mdoc/docs/17-FAQ.md
Due: Label docs PRs

Fix NPE due to Scala 3 by-name implicit bug
  modules/core/src/main/scala-3/doobie/util/shapeless/OrElse.scala
Due: Label core PRs

Scala 3 OrElse: Remove unncessary by-name parameter
  modules/core/src/main/scala-3/doobie/util/shapeless/OrElse.scala
Due: Label core PRs

Update mdoc, sbt-mdoc to 2.6.4
  project/plugins.sbt
Due: none

Allow constructing Read from a list of underlying Read instances
  build.sbt
  modules/core/src/main/scala/doobie/util/package.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
Due: Label core PRs

Add alteringExecution methods to Query0 / Update0
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/test/scala/doobie/util/QuerySuite.scala
  modules/core/src/test/scala/doobie/util/UpdateSuite.scala
Due: Label core PRs

fix imports
  modules/core/src/test/scala/doobie/util/UpdateSuite.scala
Due: Label core PRs

add overrides
  modules/core/src/main/scala/doobie/util/update.scala
Due: Label core PRs

Update scalafmt-core to 3.9.0
  .scalafmt.conf
Due: none

Update sbt-scoverage to 2.3.1
  project/plugins.sbt
Due: none

`Query`' altered execution: Allow changing result type
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/test/scala/doobie/util/QuerySuite.scala
Due: Label core PRs

Update scalafmt-core to 3.9.1
  .scalafmt.conf
Due: none

Update scalafmt-core to 3.9.2
  .scalafmt.conf
Due: none

Update shapeless to 2.3.13
  build.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.10.9
  project/build.properties
Due: none

`Query`' altered execution: Allow changing result type
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/test/scala/doobie/util/QuerySuite.scala
  modules/core/src/test/scala/doobie/util/UpdateSuite.scala
Due: Label core PRs

Documentation for custom JDBC operations
  modules/docs/src/main/mdoc/docs/12-Custom-Mappings.md
  modules/docs/src/main/mdoc/docs/19-Custom-JDBC-Operations.md
  modules/docs/src/main/mdoc/docs/index.md
Due: Label docs PRs

Update sbt, sbt-dependency-tree, ... to 1.10.10
  project/build.properties
Due: none

Update scalafmt-core to 3.9.3
  .scalafmt.conf
Due: none

Optimized compile time by removing anonymous subclasses in Read.scala
  modules/core/src/main/scala/doobie/util/read.scala
Due: Label core PRs

Configured Scalafmt and fixed formatting issues
  CompileBenchmark.scala
Due: none

Fixed Scalafmt formatting issues
  CompileBenchmark.scala
  modules/core/src/main/scala/doobie/util/read.scala
Due: Label core PRs

Migrated NotifySuite tests
  modules/postgres/src/test/scala/doobie/postgres/NotifySuite.scala
Due: Label postgres PRs

val test = line unchanged
  modules/postgres/src/test/scala/doobie/postgres/NotifySuite.scala
Due: Label postgres PRs

Regained transact(xa) on notify using LiftIO.
  modules/postgres/src/test/scala/doobie/postgres/NotifySuite.scala
Due: Label postgres PRs

Solved formatting issues
  modules/postgres/src/test/scala/doobie/postgres/NotifySuite.scala
Due: Label postgres PRs

converted <- delay { Thread.sleep(50) } to <- liftIO.liftIO(IO.sleep(50.millis))
  modules/postgres/src/test/scala/doobie/postgres/NotifySuite.scala
Due: Label postgres PRs

Fixed CI error used * instead of '_' in a import
  modules/postgres/src/test/scala/doobie/postgres/NotifySuite.scala
Due: Label postgres PRs

Fix Scala 3 migration
  modules/hikari/src/test/scala/doobie/hikari/issue/824.scala
  sbt-launch.jar
Due: Label hikari PRs

converted to munits cat effect
  modules/hikari/src/test/scala/doobie/hikari/issue/824.scala
  sbt-launch.jar
Due: Label hikari PRs

Update scalafmt-core to 3.9.4
  .scalafmt.conf
Due: none

Update modules/hikari/src/test/scala/doobie/hikari/issue/824.scala
  modules/hikari/src/test/scala/doobie/hikari/issue/824.scala
Due: Label hikari PRs

Apply Scalafmt formatting
  modules/hikari/src/test/scala/doobie/hikari/issue/824.scala
Due: Label hikari PRs

Fixed formatting and resolved line ending issue
  modules/hikari/src/test/scala/doobie/hikari/issue/824.scala
Due: Label hikari PRs
