Repository typelevel/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label log4cats PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.12, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@11)
  actions:
    merge: {}
- name: Label bench PRs
  conditions:
  - files~=^modules/bench/
  actions:
    label:
      add:
      - bench
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^modules/docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label example PRs
  conditions:
  - files~=^modules/example/
  actions:
    label:
      add:
      - example
      remove: []
- name: Label free PRs
  conditions:
  - files~=^modules/free/
  actions:
    label:
      add:
      - free
      remove: []
- name: Label h2 PRs
  conditions:
  - files~=^modules/h2/
  actions:
    label:
      add:
      - h2
      remove: []
- name: Label h2-circe PRs
  conditions:
  - files~=^modules/h2-circe/
  actions:
    label:
      add:
      - h2-circe
      remove: []
- name: Label hikari PRs
  conditions:
  - files~=^modules/hikari/
  actions:
    label:
      add:
      - hikari
      remove: []
- name: Label log4cats PRs
  conditions:
  - files~=^modules/log4cats/
  actions:
    label:
      add:
      - log4cats
      remove: []
- name: Label munit PRs
  conditions:
  - files~=^modules/munit/
  actions:
    label:
      add:
      - munit
      remove: []
- name: Label postgres PRs
  conditions:
  - files~=^modules/postgres/
  actions:
    label:
      add:
      - postgres
      remove: []
- name: Label postgres-circe PRs
  conditions:
  - files~=^modules/postgres-circe/
  actions:
    label:
      add:
      - postgres-circe
      remove: []
- name: Label refined PRs
  conditions:
  - files~=^modules/refined/
  actions:
    label:
      add:
      - refined
      remove: []
- name: Label scalatest PRs
  conditions:
  - files~=^modules/scalatest/
  actions:
    label:
      add:
      - scalatest
      remove: []
- name: Label specs2 PRs
  conditions:
  - files~=^modules/specs2/
  actions:
    label:
      add:
      - specs2
      remove: []
- name: Label weaver PRs
  conditions:
  - files~=^modules/weaver/
  actions:
    label:
      add:
      - weaver
      remove: []

Update mdoc, sbt-mdoc to 2.8.2
  project/plugins.sbt
Due: none

Update scalafmt-core to 3.10.3
  .scalafmt.conf
Due: none

Update sbt, sbt-dependency-tree, ... to 1.12.0
  project/build.properties
Due: none

Update sbt-scoverage to 2.4.4
  project/plugins.sbt
Due: none

Update postgresql to 42.7.9
  build.sbt
  project/build.sbt
Due: none

Sketch tracing support for `PreparedStatementIO`
  build.sbt
  modules/core/src/main/scala/doobie/TracedTransactor.scala
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/preparedstatement.scala
Due: Label core PRs, Label free PRs

Add otel4s module, remove redundant dependencies from core
  build.sbt
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedTransactor.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

Add `TraceEvent`
  build.sbt
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/preparedstatement.scala
  modules/free/src/main/scala/doobie/util/trace.scala
  modules/otel4s/src/main/scala/doobie/otel4s/AttributesCodec.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedTransactor.scala
  modules/otel4s/src/main/scala/doobie/otel4s/syntax/all.scala
  modules/otel4s/src/main/scala/doobie/otel4s/syntax/fragment.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: Label core PRs, Label free PRs

Improve tests
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

Add more tests, properly propagate custom span name downstream
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedTransactor.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

Add AttributesCodec test
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/preparedstatement.scala
  modules/otel4s/src/test/scala/doobie/otel4s/AttributesCodecSuite.scala
Due: Label free PRs

Update otel4s to 0.15.0
  build.sbt
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
Due: none

Update scaladoc
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedTransactor.scala
  modules/otel4s/src/main/scala/doobie/otel4s/syntax/fragment.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

Added an emap method
  modules/core/src/main/scala/doobie/util/read.scala
Due: Label core PRs

PreparedStatementInterpreter: add all query operations
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
Due: none

Update docs
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
Due: none

Run scalafmt
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedTransactor.scala
  modules/otel4s/src/test/scala/doobie/otel4s/AttributesCodecSuite.scala
Due: Label core PRs, Label free PRs

Added emap tests
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
Due: Label core PRs

re-run freeGen2 + fix semanticdbVersion
  modules/core/src/main/scala/doobie/enumerated/.bsp/sbt.json
  modules/core/src/main/scala/doobie/enumerated/project/build.properties
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  project/build.properties
  project/plugins.sbt
Due: Label core PRs, Label postgres PRs

Update munit to 1.2.2
  build.sbt
Due: none

Update scalafmt-core to 3.10.5
  .scalafmt.conf
Due: none

Add 'Reformat with scalafmt 3.10.5' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Reformat with scalafmt 3.10.5
  build.sbt
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/postgres/src/main/scala-2/doobie/postgres/TextPlatform.scala
  modules/postgres/src/main/scala-3/doobie/postgres/TextPlatform.scala
  project/FreeGen2.scala
Due: Label core PRs, Label postgres PRs

Simplify TraceEvent, disable publishing of the otel4s module
  build.sbt
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/free/src/main/scala/doobie/util/trace.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
Due: Label core PRs, Label free PRs

Cleanup
  build.sbt
Due: none

Update build.sbt and .mergify.yml. Keep Scala 2.13 and Scala 3 in otel4s module
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Setup sbt-projectmatrix
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
  project/plugins.sbt
Due: none

otel4s module: add SpanNamer and AttributesExtractor
  modules/otel4s/src/main/scala/doobie/otel4s/AttributesExtractor.scala
  modules/otel4s/src/main/scala/doobie/otel4s/SpanNamer.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/main/scala/doobie/otel4s/syntax/fragment.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

otel4s module: add recommended config constructor
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/main/scala/doobie/otel4s/syntax/fragment.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

otel4s module: align names
  modules/otel4s/src/main/scala/doobie/otel4s/AttributesExtractor.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

otel4s module: move QueryCapture to a separate file
  modules/otel4s/src/main/scala/doobie/otel4s/QueryCaptureConfig.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

otel4s module: move Config to a separate file
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedTransactor.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracingConfig.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

otel4s module: remove unused constructors from TRacingConfig
  modules/otel4s/src/main/scala/doobie/otel4s/TracingConfig.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

otel4s module: set `error.type` on errors
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none

otel4s module: safely decode byte arrays
  modules/otel4s/src/main/scala/doobie/otel4s/AttributesCodec.scala
Due: none

otel4s module: set tracer version
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
Due: none

otel4s module: move record query logic to a separate method
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracingConfig.scala
Due: none

otel4s module: update scaladoc
  modules/otel4s/src/main/scala/doobie/otel4s/AttributesCodec.scala
  modules/otel4s/src/main/scala/doobie/otel4s/AttributesExtractor.scala
  modules/otel4s/src/main/scala/doobie/otel4s/SpanNamer.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracedInterpreter.scala
  modules/otel4s/src/main/scala/doobie/otel4s/TracingConfig.scala
  modules/otel4s/src/main/scala/doobie/otel4s/syntax/fragment.scala
Due: none

otel4s module: SpanNamer rename direct -> fromQueryLabel
  modules/otel4s/src/main/scala/doobie/otel4s/SpanNamer.scala
  modules/otel4s/src/test/scala/doobie/otel4s/TracedTransactorSuite.scala
Due: none
