Repository typelevel/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label log4cats PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.12, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@11)
  actions:
    merge: {}
- name: Label bench PRs
  conditions:
  - files~=^modules/bench/
  actions:
    label:
      add:
      - bench
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^modules/docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label example PRs
  conditions:
  - files~=^modules/example/
  actions:
    label:
      add:
      - example
      remove: []
- name: Label free PRs
  conditions:
  - files~=^modules/free/
  actions:
    label:
      add:
      - free
      remove: []
- name: Label h2 PRs
  conditions:
  - files~=^modules/h2/
  actions:
    label:
      add:
      - h2
      remove: []
- name: Label h2-circe PRs
  conditions:
  - files~=^modules/h2-circe/
  actions:
    label:
      add:
      - h2-circe
      remove: []
- name: Label hikari PRs
  conditions:
  - files~=^modules/hikari/
  actions:
    label:
      add:
      - hikari
      remove: []
- name: Label log4cats PRs
  conditions:
  - files~=^modules/log4cats/
  actions:
    label:
      add:
      - log4cats
      remove: []
- name: Label munit PRs
  conditions:
  - files~=^modules/munit/
  actions:
    label:
      add:
      - munit
      remove: []
- name: Label postgres PRs
  conditions:
  - files~=^modules/postgres/
  actions:
    label:
      add:
      - postgres
      remove: []
- name: Label postgres-circe PRs
  conditions:
  - files~=^modules/postgres-circe/
  actions:
    label:
      add:
      - postgres-circe
      remove: []
- name: Label refined PRs
  conditions:
  - files~=^modules/refined/
  actions:
    label:
      add:
      - refined
      remove: []
- name: Label scalatest PRs
  conditions:
  - files~=^modules/scalatest/
  actions:
    label:
      add:
      - scalatest
      remove: []
- name: Label specs2 PRs
  conditions:
  - files~=^modules/specs2/
  actions:
    label:
      add:
      - specs2
      remove: []
- name: Label weaver PRs
  conditions:
  - files~=^modules/weaver/
  actions:
    label:
      add:
      - weaver
      remove: []

Removed sbt-launch.jar from Git tracking
  .bsp/sbt.json
  .gitignore
Due: none

Removed sbt-launch.jar and .bsp/sbt.json from the repository
  .bsp/sbt.json
  sbt-launch.jar
Due: none

Update circe-core, circe-generic, ... to 0.14.12
  build.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.10.11
  project/build.properties
Due: none

Update mdoc, sbt-mdoc to 2.6.5
  project/plugins.sbt
Due: none

Update specs2-core to 4.21.0
  build.sbt
Due: none

Reverted irrelevant changes and fixed comment
  .bsp/sbt.json
  modules/hikari/src/test/scala/doobie/hikari/issue/824.scala
  sbt-launch.jar
Due: Label hikari PRs

Migrate Test Suite to Munit with Cats Effect (without sbt files)
  .bsp/sbt.json
  sbt-launch.jar
Due: none

migrated test suite to use munit cats effect
  modules/postgres-circe/src/test/scala/doobie/postgres/circe/PGJsonSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/PGCopySuite.scala
  modules/postgres/src/test/scala/doobie/postgres/ReadErrorSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/TextSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
  modules/refined/src/test/scala/doobie/refined/RefinedSuite.scala
Due: Label postgres PRs, Label postgres-circe PRs, Label refined PRs

test fixture added back transactor
  modules/postgres-circe/src/test/scala/doobie/postgres/circe/PGJsonSuite.scala
Due: Label postgres-circe PRs

Update .gitignore
  .gitignore
Due: none

Optimize compile time by removing use of anonymous classes for Write.Composite
  modules/core/src/main/scala/doobie/util/write.scala
Due: Label core PRs

Migrate Test Suite 824.scala to Munit with Cats Effect (#2218)
  .gitignore
  modules/hikari/src/test/scala/doobie/hikari/issue/824.scala
Due: Label hikari PRs

fix: upgrade H2 to 2.1.210 to resolve security vulnerabilities
  build.sbt
Due: none

remove unused imports
  modules/postgres/src/main/scala/doobie/postgres/syntax/syntax.scala
  modules/postgres/src/test/scala/doobie/postgres/enums/MyEnum.scala
Due: Label postgres PRs

add `using` clause
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/refined/src/main/scala/doobie/refined/Instances.scala
Due: Label core PRs, Label refined PRs

Add APRA AMCOS to the adopters
  modules/docs/src/main/mdoc/index.md
Due: Label docs PRs

Documentation for custom JDBC operations
  modules/docs/src/main/mdoc/docs/12-Custom-Mappings.md
  modules/docs/src/main/mdoc/docs/19-Custom-JDBC-Operations.md
  modules/docs/src/main/mdoc/docs/index.md
Due: Label docs PRs

make `class Derived` `final`
  modules/core/src/main/scala/doobie/util/Derived.scala
Due: Label core PRs

make Derived opaque type on Scala3
  modules/core/src/main/scala-2/doobie/util/Derived.scala
  modules/core/src/main/scala-3/doobie/util/Derived.scala
  modules/core/src/main/scala-3/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkWritePlatform.scala
Due: Label core PRs

rid of anonymous Get/Put
  modules/core/src/main/scala/doobie/util/get.scala
  modules/core/src/main/scala/doobie/util/put.scala
  modules/core/src/main/scala/doobie/util/write.scala
Due: Label core PRs

updated site
  docs/01-Introduction.html
  docs/02-Toolkit.html
  docs/03-Connecting.html
  docs/04-Selecting.html
  docs/05-Parameterized.html
  docs/06-Checking.html
  docs/07-Updating.html
  docs/08-Fragments.html
  docs/09-Error-Handling.html
  docs/10-Logging.html
  docs/11-Arrays.html
  docs/12-Custom-Mappings.html
  docs/13-Unit-Testing.html
  docs/14-Managing-Connections.html
  docs/15-Extensions-PostgreSQL.html
  docs/16-Extensions-H2.html
  docs/17-FAQ.html
  docs/18-Related-Projects.html
  docs/19-Custom-JDBC-Operations.html
  docs/index.html
  index.html
  infographic.html
  migration.html
  paradox.json
Due: none

contributing.md: add version setting for docs
  CONTRIBUTING.md
Due: none

Test big case class derivatino
  modules/core/src/test/scala/doobie/util/TestTypes.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
Due: Label core PRs

Migrated PGJsonSuite to Munits Cats Effect
  modules/postgres-circe/src/test/scala/doobie/postgres/circe/PGJsonSuite.scala
Due: Label postgres-circe PRs

Update fs2-core, fs2-io to 3.12.0
  build.sbt
Due: none

Update HikariCP to 6.3.0
  build.sbt
Due: none

Update cats-effect, cats-effect-testkit to 3.6.0
  build.sbt
Due: none

Update munit-cats-effect to 2.1.0
  build.sbt
Due: none

Formatting
  modules/postgres-circe/src/test/scala/doobie/postgres/circe/PGJsonSuite.scala
Due: Label postgres-circe PRs

Changes to use ScalaCheckEffectSuite with CatsEffectSuite in TextSuite and TypesSuite.
  modules/postgres/src/test/scala/doobie/postgres/TextSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
Due: Label postgres PRs

Resolved Pr comments.
  modules/postgres/src/test/scala/doobie/postgres/ReadErrorSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/TextSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
  modules/refined/src/test/scala/doobie/refined/RefinedSuite.scala
Due: Label postgres PRs, Label refined PRs

Resolved Pr comments -2.
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
  modules/refined/src/test/scala/doobie/refined/RefinedSuite.scala
Due: Label postgres PRs, Label refined PRs

Scala 3 derivation: Switch to macro-based
  build.sbt
  modules/core/src/main/scala-2/doobie/util/MkRead.scala
  modules/core/src/main/scala-2/doobie/util/MkWrite.scala
  modules/core/src/main/scala-2/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/WritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/ReadDerivation.scala
  modules/core/src/main/scala-3/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/WriteDerivation.scala
  modules/core/src/main/scala-3/doobie/util/WritePlatform.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala-2.12/doobie/util/ScalaBinaryVersionPlatform.scala
  modules/core/src/test/scala-2.13/doobie/util/ScalaBinaryVersionPlatform.scala
  modules/core/src/test/scala-3/doobie/util/ScalaBinaryVersionPlatform.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/ScalaBinaryVersion.scala
  modules/core/src/test/scala/doobie/util/TestTypes.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
  modules/docs/src/main/mdoc/docs/17-FAQ.md
Due: Label core PRs, Label docs PRs

Scala 3 derivation - Switch to Mirror-based derivation
  build.sbt
  modules/core/src/main/scala-2/doobie/util/MkRead.scala
  modules/core/src/main/scala-2/doobie/util/MkWrite.scala
  modules/core/src/main/scala-2/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/WritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/WritePlatform.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala-2.12/doobie/util/ScalaBinaryVersionPlatform.scala
  modules/core/src/test/scala-2.13/doobie/util/ScalaBinaryVersionPlatform.scala
  modules/core/src/test/scala-3/doobie/util/ScalaBinaryVersionPlatform.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/ScalaBinaryVersion.scala
  modules/core/src/test/scala/doobie/util/TestTypes.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
  modules/docs/src/main/mdoc/docs/17-FAQ.md
Due: Label core PRs, Label docs PRs

Fix dead link to the 'Preserving Time Instants' article on the Oracle docs
  modules/mysql/src/main/scala/doobie/mysql/MysqlJavaTimeInstances.scala
  modules/mysql/src/test/scala/doobie/mysql/MySQLTestTransactor.scala
Due: none

Fix warning about using deprecated 'tlSonatypeUseLegacyHost' setting
  build.sbt
Due: none

Update cats-effect, cats-effect-testkit to 3.6.1
  build.sbt
Due: none

Add syntactic sugar transactRaw to ConnectionIOOps
  modules/core/src/main/scala/doobie/syntax/connectionio.scala
  modules/core/src/test/scala/doobie/util/ConnectionIOSuite.scala
Due: Label core PRs
