Repository typelevel/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label log4cats PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

Label bench PRs:
  label:
    add:
    - bench
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label example PRs:
  label:
    add:
    - example
    remove: []

Label free PRs:
  label:
    add:
    - free
    remove: []

Label h2 PRs:
  label:
    add:
    - h2
    remove: []

Label h2-circe PRs:
  label:
    add:
    - h2-circe
    remove: []

Label hikari PRs:
  label:
    add:
    - hikari
    remove: []

Label log4cats PRs:
  label:
    add:
    - log4cats
    remove: []

Label munit PRs:
  label:
    add:
    - munit
    remove: []

Label postgres PRs:
  label:
    add:
    - postgres
    remove: []

Label postgres-circe PRs:
  label:
    add:
    - postgres-circe
    remove: []

Label refined PRs:
  label:
    add:
    - refined
    remove: []

Label scalatest PRs:
  label:
    add:
    - scalatest
    remove: []

Label specs2 PRs:
  label:
    add:
    - specs2
    remove: []

Label weaver PRs:
  label:
    add:
    - weaver
    remove: []

Introduce `updateSetOpt` fragment (#1893)
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Due: Label core PRs

Change api for condition
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Due: Label core PRs

Fix scalafmt
  modules/core/src/main/scala/doobie/util/fragments.scala
Due: Label core PRs

Remove where clause
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Due: Label core PRs

Update HikariCP to 6.1.0
  build.sbt
Due: none

Update sbt, sbt-dependency-tree, ... to 1.10.5
  project/build.properties
Due: none

optimize `constSubqueryExpr`
  modules/core/src/main/scala/doobie/util/fragments.scala
Due: Label core PRs

remove check for 0-arity `Read`
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Due: Label core PRs

replace `in[Put]` with `in[Write]`
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Due: Label core PRs

add `constSubqueryExprOpt`
  modules/core/src/main/scala/doobie/util/fragments.scala
Due: Label core PRs

add fragment builders for `IN` and `NOT IN` operators
  modules/core/src/main/scala/doobie/util/fragments.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
Due: Label core PRs

Update HikariCP to 6.2.0
  build.sbt
Due: none

Prefetch a chunk of result for stream operation
  modules/core/src/main/scala/doobie/syntax/stream.scala
  modules/example/src/main/scala/example/StreamingCopy.scala
  modules/hikari/src/test/scala/doobie/postgres/StreamPrefetchSuite.scala
Due: Label core PRs, Label example PRs, Label hikari PRs

Make null param error more informative (#809)
  modules/core/src/main/scala/doobie/util/put.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
Due: Label core PRs

Update HikariCP to 6.2.1
  build.sbt
Due: none

Update cats-effect, cats-effect-testkit to 3.5.6
  build.sbt
Due: none

Fixed docker-compose.yml and CONTRIBUTING.md to run on Apple Silicon M1 (Issue #2149)
  CONTRIBUTING.md
  docker-compose.yml
Due: none

Use cats effect assertEquals for munit
  modules/core/src/test/scala/doobie/issue/262.scala
  modules/core/src/test/scala/doobie/util/CatchSqlSuite.scala
  modules/core/src/test/scala/doobie/util/ConnectionIOSuite.scala
  modules/core/src/test/scala/doobie/util/FragmentSuite.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
  modules/core/src/test/scala/doobie/util/GetSuite.scala
  modules/core/src/test/scala/doobie/util/ProcessSuite.scala
  modules/core/src/test/scala/doobie/util/QuerySuite.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/StrategySuite.scala
  modules/core/src/test/scala/doobie/util/TransactorSuite.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
  modules/core/src/test/scala/doobie/util/meta/MetaSuite.scala
  modules/h2/src/test/scala/doobie/h2/h2types.scala
Due: Label core PRs, Label h2 PRs

Format test files
  modules/core/src/test/scala/doobie/issue/262.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
  modules/core/src/test/scala/doobie/util/ProcessSuite.scala
  modules/core/src/test/scala/doobie/util/QuerySuite.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/TransactorSuite.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
Due: Label core PRs

use cats effect assertEquals for munit
  modules/core/src/test/scala/doobie/util/CatchSqlSuite.scala
Due: Label core PRs

Use munit cats effect to other classes
  modules/core/src/test/scala/doobie/util/CatchSqlSuite.scala
  modules/h2-circe/src/test/scala/doobie/h2/circe/H2JsonSuite.scala
  modules/h2/src/test/scala/doobie/h2/h2types.scala
  modules/mysql/src/test/scala/doobie/mysql/CheckSuite.scala
Due: Label core PRs, Label h2 PRs, Label h2-circe PRs

Resolve unused imports
  modules/core/src/test/scala/doobie/util/ConnectionIOSuite.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
  modules/core/src/test/scala/doobie/util/GetSuite.scala
  modules/core/src/test/scala/doobie/util/ProcessSuite.scala
  modules/core/src/test/scala/doobie/util/QuerySuite.scala
  modules/core/src/test/scala/doobie/util/TransactorSuite.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
  modules/core/src/test/scala/doobie/util/meta/MetaSuite.scala
Due: Label core PRs

Resolve unused imports
  modules/h2/src/test/scala/doobie/h2/h2types.scala
  modules/mysql/src/test/scala/doobie/mysql/CheckSuite.scala
Due: Label h2 PRs

Update cats-effect, cats-effect-testkit to 3.5.7
  build.sbt
Due: none

poc: allow extracting individual steps (#2065)
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/test/scala/doobie/util/QuerySuite.scala
Due: Label core PRs

poc: generalized approach to extracting steps (#2065)
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/main/scala/doobie/util/query.scala
Due: Label core PRs

Contributing.md - add Apple silicone instructions
  CONTRIBUTING.md
Due: none

Contriuting.md - document turning on and off strict mode
  CONTRIBUTING.md
Due: none

Update sbt, sbt-dependency-tree, ... to 1.10.6
  project/build.properties
Due: none

Update munit to 1.0.3
  build.sbt
Due: none

Update specs2-core to 4.20.9
  build.sbt
Due: none

Rework Read/Write & Fix derivation to use custom instances
  build.sbt
  modules/core/src/main/scala-2/doobie/util/GetPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkGetPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkPutPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-2/doobie/util/PutPlatform.scala
  modules/core/src/main/scala-2/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-2/doobie/util/WritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkGetPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkPutPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala-3/doobie/util/PutPlatform.scala
  modules/core/src/main/scala-3/doobie/util/ReadPlatform.scala
  modules/core/src/main/scala-3/doobie/util/WritePlatform.scala
  modules/core/src/main/scala/doobie/generic/auto.scala
  modules/core/src/main/scala/doobie/package.scala
  modules/core/src/main/scala/doobie/util/Derived.scala
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/main/scala/doobie/util/get.scala
  modules/core/src/main/scala/doobie/util/put.scala
  modules/core/src/main/scala/doobie/util/read.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/test/scala-2/doobie/util/GetSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/PutSuitePlatform.scala
  modules/core/src/test/scala-2/doobie/util/QueryLogSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/PutSuitePlatform.scala
  modules/core/src/test/scala-3/doobie/util/QueryLogSuitePlatform.scala
  modules/core/src/test/scala/doobie/util/GetSuite.scala
  modules/core/src/test/scala/doobie/util/PutSuite.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/TestTypes.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
  modules/munit/src/test/scala/doobie/munit/CheckerTests.scala
  modules/weaver/src/test/scala/doobie/weaver/CheckerTests.scala
Due: Label core PRs, Label munit PRs, Label weaver PRs

More tests to verify derived instances
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/TestTypes.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
Due: Label core PRs

Benchmark for Read performance
  modules/bench/src/main/scala/doobie/bench/large.scala
Due: Label bench PRs

fix skipping makeSite in CI
  .github/workflows/ci.yml
  build.sbt
Due: none

Update mdoc, sbt-mdoc to 2.6.2
  project/plugins.sbt
Due: none

Fix docs and check makeSite passes in CI
  .github/workflows/ci.yml
  build.sbt
  modules/docs/src/main/mdoc/docs/15-Extensions-PostgreSQL.md
  modules/docs/src/main/mdoc/docs/17-FAQ.md
Due: Label docs PRs

Path conditions:
  Label bench PRs: any of: ^modules/bench/
  Label core PRs: any of: ^modules/core/
  Label docs PRs: any of: ^modules/docs/
  Label example PRs: any of: ^modules/example/
  Label free PRs: any of: ^modules/free/
  Label h2 PRs: any of: ^modules/h2/
  Label h2-circe PRs: any of: ^modules/h2-circe/
  Label hikari PRs: any of: ^modules/hikari/
  Label log4cats PRs: any of: ^modules/log4cats/
  Label munit PRs: any of: ^modules/munit/
  Label postgres PRs: any of: ^modules/postgres/
  Label postgres-circe PRs: any of: ^modules/postgres-circe/
  Label refined PRs: any of: ^modules/refined/
  Label scalatest PRs: any of: ^modules/scalatest/
  Label specs2 PRs: any of: ^modules/specs2/
  Label weaver PRs: any of: ^modules/weaver/
