Repository typelevel/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label log4cats PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.13.12, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 3.3.0, temurin@11)
  actions:
    merge: {}
- name: Label bench PRs
  conditions:
  - files~=^modules/bench/
  actions:
    label:
      add:
      - bench
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^modules/docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label example PRs
  conditions:
  - files~=^modules/example/
  actions:
    label:
      add:
      - example
      remove: []
- name: Label free PRs
  conditions:
  - files~=^modules/free/
  actions:
    label:
      add:
      - free
      remove: []
- name: Label h2 PRs
  conditions:
  - files~=^modules/h2/
  actions:
    label:
      add:
      - h2
      remove: []
- name: Label h2-circe PRs
  conditions:
  - files~=^modules/h2-circe/
  actions:
    label:
      add:
      - h2-circe
      remove: []
- name: Label hikari PRs
  conditions:
  - files~=^modules/hikari/
  actions:
    label:
      add:
      - hikari
      remove: []
- name: Label log4cats PRs
  conditions:
  - files~=^modules/log4cats/
  actions:
    label:
      add:
      - log4cats
      remove: []
- name: Label munit PRs
  conditions:
  - files~=^modules/munit/
  actions:
    label:
      add:
      - munit
      remove: []
- name: Label postgres PRs
  conditions:
  - files~=^modules/postgres/
  actions:
    label:
      add:
      - postgres
      remove: []
- name: Label postgres-circe PRs
  conditions:
  - files~=^modules/postgres-circe/
  actions:
    label:
      add:
      - postgres-circe
      remove: []
- name: Label refined PRs
  conditions:
  - files~=^modules/refined/
  actions:
    label:
      add:
      - refined
      remove: []
- name: Label scalatest PRs
  conditions:
  - files~=^modules/scalatest/
  actions:
    label:
      add:
      - scalatest
      remove: []
- name: Label specs2 PRs
  conditions:
  - files~=^modules/specs2/
  actions:
    label:
      add:
      - specs2
      remove: []
- name: Label weaver PRs
  conditions:
  - files~=^modules/weaver/
  actions:
    label:
      add:
      - weaver
      remove: []

poc: allow extracting individual steps (#2065)
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/test/scala/doobie/util/QuerySuite.scala
Due: Label core PRs

feat: allow altering prepared execution for Query (#2065)
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/test/scala/doobie/util/QuerySuite.scala
Due: Label core PRs

refactor: prepare for altering prepared execution for Update (#2065)
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/update.scala
Due: Label core PRs

feat: allow altering prepared execution for Update (#2065)
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/test/scala/doobie/util/UpdateSuite.scala
Due: Label core PRs

Update sbt, sbt-dependency-tree, ... to 1.10.7
  project/build.properties
Due: none

Update refined to 0.11.3
  build.sbt
Due: none

Update sbt-typelevel-ci-release, ... to 0.7.5
  project/plugins.sbt
Due: none

Regenerate GitHub Actions workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Update mockito-core to 5.15.2
  build.sbt
Due: none

Update munit to 1.0.4
  build.sbt
Due: none

Update postgresql to 42.7.5
  build.sbt
  project/build.sbt
Due: none

Update scala-library, scala-reflect to 2.13.16
  build.sbt
Due: none

Update sbt-scalafmt to 2.5.4
  project/plugins.sbt
Due: none

Update scalafmt-core to 3.8.5
  .scalafmt.conf
Due: none

Add 'Reformat with scalafmt 3.8.5' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Reformat with scalafmt 3.8.5
  modules/bench/src/main/scala/doobie/bench/large.scala
  modules/core/src/main/scala-3/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/main/scala/doobie/util/invariant.scala
  modules/core/src/main/scala/doobie/util/meta/meta.scala
  modules/example/src/main/scala/example/StreamingCopy.scala
  modules/free/src/main/scala/doobie/free/blob.scala
  modules/free/src/main/scala/doobie/free/callablestatement.scala
  modules/free/src/main/scala/doobie/free/clob.scala
  modules/free/src/main/scala/doobie/free/connection.scala
  modules/free/src/main/scala/doobie/free/databasemetadata.scala
  modules/free/src/main/scala/doobie/free/driver.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/nclob.scala
  modules/free/src/main/scala/doobie/free/preparedstatement.scala
  modules/free/src/main/scala/doobie/free/ref.scala
  modules/free/src/main/scala/doobie/free/resultset.scala
  modules/free/src/main/scala/doobie/free/sqldata.scala
  modules/free/src/main/scala/doobie/free/sqlinput.scala
  modules/free/src/main/scala/doobie/free/sqloutput.scala
  modules/free/src/main/scala/doobie/free/statement.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyin.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copymanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyout.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  modules/weaver/src/test/scala/doobie/weaver/CheckerTests.scala
Due: Label bench PRs, Label core PRs, Label example PRs, Label free PRs, Label postgres PRs, Label weaver PRs

Update sbt-scoverage to 2.3.0
  project/plugins.sbt
Due: none

Update sbt-typelevel-ci-release, ... to 0.7.6
  project/plugins.sbt
Due: none

Update cats-core, cats-free to 2.13.0
  build.sbt
Due: none

Update mysql-connector-j to 9.2.0
  build.sbt
Due: none

Update munit to 1.1.0
  build.sbt
Due: none

Update scalafmt-core to 3.8.6
  .scalafmt.conf
Due: none

Reformat with scalafmt 3.8.6
  modules/bench/src/main/scala/doobie/bench/large.scala
  modules/core/src/main/scala-3/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/main/scala/doobie/util/invariant.scala
  modules/core/src/main/scala/doobie/util/meta/meta.scala
  modules/example/src/main/scala/example/StreamingCopy.scala
  modules/free/src/main/scala/doobie/free/blob.scala
  modules/free/src/main/scala/doobie/free/callablestatement.scala
  modules/free/src/main/scala/doobie/free/clob.scala
  modules/free/src/main/scala/doobie/free/connection.scala
  modules/free/src/main/scala/doobie/free/databasemetadata.scala
  modules/free/src/main/scala/doobie/free/driver.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/nclob.scala
  modules/free/src/main/scala/doobie/free/preparedstatement.scala
  modules/free/src/main/scala/doobie/free/ref.scala
  modules/free/src/main/scala/doobie/free/resultset.scala
  modules/free/src/main/scala/doobie/free/sqldata.scala
  modules/free/src/main/scala/doobie/free/sqlinput.scala
  modules/free/src/main/scala/doobie/free/sqloutput.scala
  modules/free/src/main/scala/doobie/free/statement.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyin.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copymanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyout.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  modules/weaver/src/test/scala/doobie/weaver/CheckerTests.scala
Due: Label bench PRs, Label core PRs, Label example PRs, Label free PRs, Label postgres PRs, Label weaver PRs

Add 'Reformat with scalafmt 3.8.6' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Update sbt-typelevel-ci-release, ... to 0.7.7
  project/plugins.sbt
Due: none

Add mention of otel4s-doobie
  modules/docs/src/main/mdoc/docs/18-Related-Projects.md
Due: Label docs PRs

Better postgres array of enum support
  init/postgres/test-db.sql
  modules/core/src/main/scala/doobie/util/meta/meta.scala
  modules/docs/src/main/mdoc/docs/11-Arrays.md
  modules/postgres/src/main/scala/doobie/postgres/Instances.scala
  modules/postgres/src/test/scala/doobie/postgres/PgArraySuite.scala
  modules/postgres/src/test/scala/doobie/postgres/enums/MyEnum.scala
  modules/postgres/src/test/scala/doobie/postgres/enums/OtherEnum.scala
Due: Label core PRs, Label docs PRs, Label postgres PRs

Add test for issue #2144
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
Due: Label core PRs

Add test for issue #2144 with fixed formating
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
Due: Label core PRs

Converting more tests to munit.catseffectsuite
  modules/core/src/test/scala-2/doobie/util/QueryLogSuitePlatform.scala
  modules/core/src/test/scala/doobie/util/GetSuite.scala
  modules/core/src/test/scala/doobie/util/QueryLogSuite.scala
  modules/core/src/test/scala/doobie/util/ReadSuite.scala
  modules/core/src/test/scala/doobie/util/WriteSuite.scala
  modules/hikari/src/test/scala/doobie/HikariQueryCancellationSuite.scala
Due: Label core PRs, Label hikari PRs

fix scala 3
  modules/core/src/test/scala-3/doobie/util/QueryLogSuitePlatform.scala
  modules/core/src/test/scala/doobie/util/ConnectionIOSuite.scala
  modules/core/src/test/scala/doobie/util/FragmentsSuite.scala
  modules/core/src/test/scala/doobie/util/QuerySuite.scala
  modules/core/src/test/scala/doobie/util/TransactorSuite.scala
  modules/mysql/src/test/scala/doobie/mysql/CheckSuite.scala
Due: Label core PRs

fix QueryLogSuite
  modules/core/src/test/scala/doobie/util/QueryLogSuite.scala
Due: Label core PRs

revert mysql CheckSuite
  modules/mysql/src/test/scala/doobie/mysql/CheckSuite.scala
Due: none

Simplify / optimize QueryLogSuite
  modules/core/src/test/scala/doobie/util/QueryLogSuite.scala
Due: Label core PRs

Upgrade scalafmt to 3.8.6
  .scalafmt.conf
  modules/bench/src/main/scala/doobie/bench/large.scala
  modules/core/src/main/scala-3/doobie/util/MkWritePlatform.scala
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/main/scala/doobie/util/invariant.scala
  modules/core/src/main/scala/doobie/util/meta/meta.scala
  modules/example/src/main/scala/example/StreamingCopy.scala
  modules/free/src/main/scala/doobie/free/blob.scala
  modules/free/src/main/scala/doobie/free/callablestatement.scala
  modules/free/src/main/scala/doobie/free/clob.scala
  modules/free/src/main/scala/doobie/free/connection.scala
  modules/free/src/main/scala/doobie/free/databasemetadata.scala
  modules/free/src/main/scala/doobie/free/driver.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/nclob.scala
  modules/free/src/main/scala/doobie/free/preparedstatement.scala
  modules/free/src/main/scala/doobie/free/ref.scala
  modules/free/src/main/scala/doobie/free/resultset.scala
  modules/free/src/main/scala/doobie/free/sqldata.scala
  modules/free/src/main/scala/doobie/free/sqlinput.scala
  modules/free/src/main/scala/doobie/free/sqloutput.scala
  modules/free/src/main/scala/doobie/free/statement.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyin.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copymanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyout.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  modules/weaver/src/test/scala/doobie/weaver/CheckerTests.scala
  project/FreeGen2.scala
Due: Label bench PRs, Label core PRs, Label example PRs, Label free PRs, Label postgres PRs, Label weaver PRs

Add .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Upgrade deps (minor)
  build.sbt
Due: none

Reduce MinSuccessfulTests to reduce some test suites' execution time
  modules/mysql/src/test/scala/doobie/mysql/TypesSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/TextSuite.scala
  modules/postgres/src/test/scala/doobie/postgres/TypesSuite.scala
Due: Label postgres PRs

add `+~+` fragment concat op
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/test/scala/doobie/util/FragmentSuite.scala
Due: Label core PRs

add operator to the docs
  modules/docs/src/main/mdoc/docs/08-Fragments.md
Due: Label docs PRs
