Repository typelevel/doobie: changes, and which Mergify rules are due for each by the changed paths.
All: Label bench PRs, Label core PRs, Label docs PRs, Label example PRs, Label free PRs, Label h2 PRs, Label h2-circe PRs, Label hikari PRs, Label log4cats PRs, Label munit PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs, Label weaver PRs

Label bench PRs:
  label:
    add:
    - bench
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label example PRs:
  label:
    add:
    - example
    remove: []

Label free PRs:
  label:
    add:
    - free
    remove: []

Label h2 PRs:
  label:
    add:
    - h2
    remove: []

Label h2-circe PRs:
  label:
    add:
    - h2-circe
    remove: []

Label hikari PRs:
  label:
    add:
    - hikari
    remove: []

Label log4cats PRs:
  label:
    add:
    - log4cats
    remove: []

Label munit PRs:
  label:
    add:
    - munit
    remove: []

Label postgres PRs:
  label:
    add:
    - postgres
    remove: []

Label postgres-circe PRs:
  label:
    add:
    - postgres-circe
    remove: []

Label refined PRs:
  label:
    add:
    - refined
    remove: []

Label scalatest PRs:
  label:
    add:
    - scalatest
    remove: []

Label specs2 PRs:
  label:
    add:
    - specs2
    remove: []

Label weaver PRs:
  label:
    add:
    - weaver
    remove: []

Update sbt-tpolecat to 0.5.1
  project/plugins.sbt
Due: none

Include withUniqueGeneratedKeys in logging
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/test/scala/doobie/util/LogSuite.scala
Due: Label core PRs

Update h2 to 2.2.224
  build.sbt
Due: none

Add source:future / better-monaidic-for for irrefutable pattern in for comprehension
  build.sbt
  modules/bench/src/main/scala/doobie/bench/select.scala
  modules/core/src/main/scala/doobie/hi/resultset.scala
  modules/core/src/main/scala/doobie/util/analysis.scala
  modules/core/src/main/scala/doobie/util/fragment.scala
  modules/core/src/main/scala/doobie/util/get.scala
  modules/core/src/main/scala/doobie/util/put.scala
  modules/core/src/main/scala/doobie/util/query.scala
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/core/src/main/scala/doobie/util/update.scala
  modules/core/src/main/scala/doobie/util/write.scala
  modules/core/src/main/scala/doobie/util/yolo.scala
  modules/core/src/test/scala/doobie/util/StrategySuite.scala
  modules/core/src/test/scala/doobie/util/TransactorSuite.scala
  modules/example/src/main/scala/example/FreeUsage.scala
  modules/example/src/main/scala/example/GenericStream.scala
  modules/example/src/main/scala/example/OtherSchema.scala
  modules/example/src/main/scala/example/StreamingCopy.scala
  modules/h2-circe/src/main/scala/doobie/h2/circe/Instances.scala
  modules/h2-circe/src/test/scala/doobie/h2/circe/H2JsonSuite.scala
  modules/hikari/src/main/scala/doobie/hikari/Config.scala
  modules/hikari/src/test/scala/doobie/postgres/PGConcurrentSuite.scala
  modules/postgres-circe/src/main/scala/doobie/postgres/circe/Instances.scala
  modules/postgres-circe/src/test/scala/doobie/postgres/circe/PGJsonSuite.scala
  modules/postgres/src/main/scala-2/doobie/postgres/TextPlatform.scala
  modules/postgres/src/main/scala/doobie/postgres/Instances.scala
  modules/postgres/src/main/scala/doobie/postgres/Text.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/connection.scala
  modules/postgres/src/main/scala/doobie/postgres/hi/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/pgisgeographyinstances.scala
  modules/postgres/src/main/scala/doobie/postgres/pgisinstances.scala
  modules/postgres/src/test/scala/doobie/postgres/LOSuite.scala
  modules/refined/src/main/scala/doobie/refined/Instances.scala
  modules/refined/src/test/scala/doobie/refined/RefinedSuite.scala
  modules/scalatest/src/main/scala/doobie/scalatest/Checker.scala
  modules/specs2/src/main/scala/doobie/specs2/analysismatchers.scala
  project/FreeGen2.scala
Due: Label bench PRs, Label core PRs, Label example PRs, Label h2-circe PRs, Label hikari PRs, Label postgres PRs, Label postgres-circe PRs, Label refined PRs, Label scalatest PRs, Label specs2 PRs

Update h2 to 2.3.230
  build.sbt
Due: none

Update scalafmt-core to 3.8.3
  .scalafmt.conf
Due: none

Reformat with scalafmt 3.8.3
  modules/free/src/main/scala/doobie/free/blob.scala
  modules/free/src/main/scala/doobie/free/callablestatement.scala
  modules/free/src/main/scala/doobie/free/clob.scala
  modules/free/src/main/scala/doobie/free/connection.scala
  modules/free/src/main/scala/doobie/free/databasemetadata.scala
  modules/free/src/main/scala/doobie/free/driver.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/nclob.scala
  modules/free/src/main/scala/doobie/free/preparedstatement.scala
  modules/free/src/main/scala/doobie/free/ref.scala
  modules/free/src/main/scala/doobie/free/resultset.scala
  modules/free/src/main/scala/doobie/free/sqldata.scala
  modules/free/src/main/scala/doobie/free/sqlinput.scala
  modules/free/src/main/scala/doobie/free/sqloutput.scala
  modules/free/src/main/scala/doobie/free/statement.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyin.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copymanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyout.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
Due: Label free PRs, Label postgres PRs

Add 'Reformat with scalafmt 3.8.3' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

docs: annotate `Yolo` value with type
  modules/docs/src/main/mdoc/docs/04-Selecting.md
Due: Label docs PRs

fix query cancellation
  build.sbt
  modules/core/src/main/scala/ResearchWithIO2.scala
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/core/src/test/scala/doobie/util/QueryCancellationSuite.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
Due: Label core PRs, Label free PRs

fix query cancellation
  .github/workflows/ci.yml
  build.sbt
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/core/src/test/scala/doobie/util/QueryCancellationSuite.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
Due: Label core PRs, Label free PRs

Add tests using postgres pg_sleep and also with Hikari
  build.sbt
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/hikari/src/test/scala/doobie/HikariQueryCancellationSuite.scala
Due: Label free PRs, Label hikari PRs

fix compatibility
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/free/src/main/scala/doobie/free/Primitive.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
Due: Label core PRs, Label free PRs

fix warnings + add Free2Gen
  modules/core/src/main/scala/doobie/util/transactor.scala
  modules/free/src/main/scala/doobie/free/Primitive.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/hikari/src/test/scala/doobie/HikariQueryCancellationSuite.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  project/FreeGen2.scala
Due: Label core PRs, Label free PRs, Label hikari PRs, Label postgres PRs

Update munit to 1.0.1
  build.sbt
Due: none

fix query cancellation with cancelable
  .github/workflows/ci.yml
  build.sbt
  modules/core/src/main/scala/doobie/hi/connection.scala
  modules/core/src/test/scala/doobie/util/QueryLogSuite.scala
  modules/core/src/test/scala/doobie/util/UpdateLogSuite.scala
  modules/free/src/main/scala/doobie/WeakAsync.scala
  modules/free/src/main/scala/doobie/free/blob.scala
  modules/free/src/main/scala/doobie/free/callablestatement.scala
  modules/free/src/main/scala/doobie/free/clob.scala
  modules/free/src/main/scala/doobie/free/connection.scala
  modules/free/src/main/scala/doobie/free/databasemetadata.scala
  modules/free/src/main/scala/doobie/free/driver.scala
  modules/free/src/main/scala/doobie/free/kleisliinterpreter.scala
  modules/free/src/main/scala/doobie/free/nclob.scala
  modules/free/src/main/scala/doobie/free/preparedstatement.scala
  modules/free/src/main/scala/doobie/free/ref.scala
  modules/free/src/main/scala/doobie/free/resultset.scala
  modules/free/src/main/scala/doobie/free/sqldata.scala
  modules/free/src/main/scala/doobie/free/sqlinput.scala
  modules/free/src/main/scala/doobie/free/sqloutput.scala
  modules/free/src/main/scala/doobie/free/statement.scala
  modules/hikari/src/test/scala/doobie/HikariQueryCancellationSuite.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyin.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copymanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/copyout.scala
  modules/postgres/src/main/scala/doobie/postgres/free/kleisliinterpreter.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobject.scala
  modules/postgres/src/main/scala/doobie/postgres/free/largeobjectmanager.scala
  modules/postgres/src/main/scala/doobie/postgres/free/pgconnection.scala
  project/FreeGen2.scala
Due: Label core PRs, Label free PRs, Label hikari PRs, Label postgres PRs

Update sbt-tpolecat to 0.5.2
  project/plugins.sbt
Due: none

Update sbt-scoverage to 2.1.1
  project/plugins.sbt
Due: none

Update postgresql to 42.7.4
  build.sbt
  project/build.sbt
Due: none

Update postgis-jdbc to 2024.1.0
  build.sbt
Due: none

docker-compose can now run on arm64 architecture
  docker-compose.yml
Due: none

introduces attemptSomeSql into ApplicativeErrorOps
  modules/core/src/main/scala/doobie/syntax/applicativeerror.scala
  modules/core/src/main/scala/doobie/util/catchsql.scala
  modules/core/src/test/scala/doobie/util/CatchSqlSuite.scala
Due: Label core PRs

Update fs2-core, fs2-io to 3.11.0
  build.sbt
Due: none

Path conditions:
  Label bench PRs: any of: ^modules/bench/
  Label core PRs: any of: ^modules/core/
  Label docs PRs: any of: ^modules/docs/
  Label example PRs: any of: ^modules/example/
  Label free PRs: any of: ^modules/free/
  Label h2 PRs: any of: ^modules/h2/
  Label h2-circe PRs: any of: ^modules/h2-circe/
  Label hikari PRs: any of: ^modules/hikari/
  Label log4cats PRs: any of: ^modules/log4cats/
  Label munit PRs: any of: ^modules/munit/
  Label postgres PRs: any of: ^modules/postgres/
  Label postgres-circe PRs: any of: ^modules/postgres-circe/
  Label refined PRs: any of: ^modules/refined/
  Label scalatest PRs: any of: ^modules/scalatest/
  Label specs2 PRs: any of: ^modules/specs2/
  Label weaver PRs: any of: ^modules/weaver/
